/* Define a fonte padrão para toda a página */
body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif; /* Uma fonte padrão, você pode alterar se desejar */
    background-color: #E6E6E6; /* Cor de fundo cinza claro da imagem */
}

/* Container principal para centralizar o conteúdo */
.login-container {
    min-height: 100vh;
}

/* Estilização do contêiner da logo */
.logo-container {
    margin-bottom: 40px;
}

.logo-container img {
    width: 80px; /* Ajuste o tamanho da logo conforme necessário */
    height: auto;
}

/* Estilização do formulário */
.login-form {
    width: 100%;
    max-width: 380px; /* Define uma largura máxima para o formulário */
}

/* Estilização dos campos de input */
.form-control {
    background-color: #D4D8AD; /* Cor de fundo verde claro dos inputs */
    border: none;
    border-radius: 4px; /* Bordas levemente arredondadas */
    height: 50px; /* Altura dos campos */
    font-size: 1rem;
    color: #555;
    padding-left: 15px;
}

.form-control::placeholder { /* Estilo para o texto 'NOME' e 'SENHA' */
    color: #6a6e46;
    font-weight: bold;
}

.form-control:focus {
    background-color: #D4D8AD;
    box-shadow: none; /* Remove a sombra padrão do bootstrap ao focar */
    color: #555;
}

/* Estilização do botão de login */
.btn-login {
    background-color: #92B12D; /* Cor de fundo verde do botão */
    color: #FFF; /* Cor do texto */
    border: 1px solid #7c9426; /* Borda um pouco mais escura */
    font-weight: bold;
    padding: 10px;
    transition: background-color 0.3s ease; /* Efeito suave na transição de cor */
}

.btn-login:hover {
    background-color: #7c9426; /* Cor do botão ao passar o mouse */
    color: #FFF;
}